/* BURGER MENU*/
.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-brown);
    padding: 16px;
    border: 2px solid green;
    z-index: 20;
}

.burger-menu--font-size {
    font-size: 20px;
}

.burger-menu__btn {
    max-width: 763px;
    width: 100%;
    margin-top: 125px;
    margin-bottom: 177px;
}

.nav-list--burger-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* BURGER BTN */
/* .burger-btn {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    z-index: 100;
}

.burger-btn__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: translateY(-50%);
}

.burger-btn::before,
.burger-btn::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease 0s;
}

.burger-btn::before {
    top: 0;
}

.burger-btn::after {
    bottom: 0;
}
 */
