.cookie {
    width: 1285px;
    border-radius: 16px;
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    padding: 30px 60px 30px 30px;
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    transform: translate(-50%, -25%);
    left: 50%;
    z-index: 100;
}

.cookie__text {
    max-width: 783px;
    color: var(--cookie-grey);
    font-family: "Outfit-Light";
    font-size: 20px;
    line-height: 140%;
    margin: 0;
}

.cookie__buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.btn-close {
    position: absolute;
    color: var(--light-grey);
    font-size: 30px;
    top: 0px;
    right: 10px;
}


